html {background-color: darkgreen;}

h1 {background-color: darkorange;
color: darkmagenta;}

#p1 {background-color: darkslategrey; color: crimson;}

h2 {background-color: firebrick; color: darkblue;}

#p2 {background-color: fuchsia; color: whitesmoke;}

ol {background-color: goldenrod; color: pink;}